@import "@repo/ui/globals.css";

@layer base {
  ::view-transition-old(.mapbox-fallback-exit) {
    @apply animate-out slide-out-to-top-20 zoom-out fade-out fill-mode-forwards duration-300 ease-[cubic-bezier(0.7,0,0.3,1)];
  }

  ::view-transition-new(.mapbox-enter) {
    @apply animate-in slide-in-from-bottom fade-in fill-mode-forwards duration-500 ease-[cubic-bezier(0.7,0,0.3,1)];
  }

  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}
